---
title: Travel
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>旅行</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        <li>
        {% if site.recommend-travel and site.travel.size>0 %}
            {% for travel in site.travel %}
            <a href="#{{ travel[0] }}" class="tag">{{ travel[0]}}</a>
            {% endfor %}
        {% endif %}
        </li>
        {% for travel in site.travel %}
        <li>
            <span class="tag-name" id="{{ travel[0] }}">「{{ travel[0] }}」</span>
            {% for post in travel[1] %}
            <a class="tag-post" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            {% endfor %}
        </li>
        
        </div>
        {% endfor%}
    </ul>
</main>
    
{% include footer.html %}
