---
title: 旅行
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>旅行</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">

        {% for post in site.categories.travel %}
           <li> 
           	<a class="tag-post" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
           </li>
        {% endfor %}
        
        </div>

    </ul>
</main>
    
{% include footer.html %}