<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author"  content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <!-- Open Graph -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <!-- H2O阿里矢量 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_roc50gemkxpw4s4i.css">
    <!-- 个人阿里矢量 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_438510_yyc4gnjno8tr19k9.css">
    <!-- 图片查看 -->
    <link href="{{ "/fancybox/source/jquery.fancybox.css?v=2.1.5" | prepend: site.baseurl }}" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="{{ "/assets/css/github-markdown.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/prism.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/share.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/app.min.css" | prepend: site.baseurl }}">
    <!-- 摄影 -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>